# raw data
data/

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

#temporary
explore_parquet.py
test.py
features.py
shorty_report.txt


# ignore all pdfs
*.pdf

# Large model files
transformer_model/
*.safetensors
*.pt