# raw data
data/

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

#temporary
explore_parquet.py
test.py
features.py
shorty_report.txt

# intermediate presentation materials on github
intermediade_presentation/*
!intermediade_presentation/.gitkeep


# ignore all pdfs
*.pdf