# raw data
data/

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

#temporary
explore_parquet.py

# intermediate presentation materials on github
intermediade_presentation/*
!intermediade_presentation/.gitkeep
